:root{
    --bg-teal:#1abc9c;
    --bg-footer-top:#3a546d;
    --bg-footer-bottom:#2c3e50;
}

.ms_bg_navbar{
    background-color: var(--bg-footer-bottom);
}

.ms_btn_green{
    background-color: var(--bg-teal);
    color: white;
}

.ms_img_cover{
    width: 200px;
    object-fit: cover;
}

.ms_line_white{
    width: 20%;
    height: 3.5px;
    display: inline-block;
    border-radius: 20px;
    background-color: white;
}
.ms_line_black{
    width: 20%;
    height: 3.5px;
    display: inline-block;
    border-radius: 20px;
    background-color: black;
}
header{
    background-color: var(--bg-footer-bottom);
}
.start{
    background-color: var(--bg-teal);
}
.ms_btn_green{
    background-color: var(--bg-teal);
    color: white;
}

.footer-top{
    background-color: var(--bg-footer-top);
}
.ms_icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 25px;
}
.footer-bottom{
    background-color: var(--bg-footer-bottom);
}
.ms_start_boot{
    color:  var(--bg-teal);
}